# Web scraping / parsing
beautifulsoup4==4.12.3
lxml==4.9.3  # optional, faster XML/HTML parsing for BeautifulSoup

# Event signaling
blinker==1.7.0

# Compression / encoding
Brotli==1.1.0

# HTTP / requests
certifi==2023.11.17
chardet==5.2.0
idna==3.4
requests==2.31.0

# CLI helpers
click==8.1.6
colorama==0.4.6

# GUI
PySide6==6.6.1
